<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="assets/chat.png" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="@@description" />
    <meta name="keywords" content="@@keywords" />
    <title>모아영</title>
    <meta property="og:title" content="@@title" />
    <meta property="og:description" content="@@description" />
    <meta property="og:image" content="@@image" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="assets/bundle.js?v=@@version"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js"
      crossorigin="anonymous"
    ></script>

    <script>
      var prevRadio = null;
      var firstlip = true;
      var partnerFaceMesh = new FaceMesh({
        locateFile: (file) => {
          console.log('Load Lip FaceMesh Model');
          return `https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/${file}`;
        },
      });
      partnerFaceMesh.setOptions({
        maxNumFaces: 1,
        minDetectionConfidence: 0.5,
        minTrackingConfidence: 0.5,
      });
      var interval = null;
      function check(input) {
        var lips_area = document.getElementById('lips-area');

        if (input.checked == true) {
          lips_area.style.display = 'inline';
        } else {
          lips_area.style.display = 'none';
        }
      }

      function libSelect() {
        var delay = 0;
        var checked_id = $(':input:radio[name=lipDetecting]:checked').val(); //1
        var canvas_ = document.getElementById(`${checked_id}`); //1
        const videoElement = document.getElementById('video-' + checked_id);

        const canvasCtx = canvas_.getContext('2d');

        function onResults(results) {
          if (
            $(document.getElementById('libMagnify')).prop('checked') == true
          ) {
            if (results.multiFaceLandmarks[0]) {
              canvasCtx.clearRect(0, 0, canvas_.width, canvas_.height);
              let lipwidth =
                results.multiFaceLandmarks[0][287].x -
                results.multiFaceLandmarks[0][57].x;

              let litheight =
                results.multiFaceLandmarks[0][18].y -
                results.multiFaceLandmarks[0][164].y;

              canvasCtx.drawImage(
                results.image,
                results.multiFaceLandmarks[0][57].x * videoElement.videoWidth,
                results.multiFaceLandmarks[0][164].y *
                  videoElement.videoHeight +
                  5,
                lipwidth * videoElement.videoWidth,
                litheight * videoElement.videoHeight,
                0,
                0,
                300,
                200
              );
              canvasCtx.restore();
            }
          }
        }
        var mydivtext = document.getElementById('mydivheader').innerHTML;
        partnerFaceMesh.onResults(onResults);
        if (interval != null) {
          clearInterval(interval);
        }
        interval = setInterval(async () => {
          if (firstlip) {
            if (delay == 0) {
              partnerFaceMesh.initialize();
              document.getElementById('mydivheader').innerHTML =
                '5초 뒤 시작됩니다.';
            }
            if (delay == 5) {
              document.getElementById('mydivheader').innerHTML =
                '4초 뒤 시작합니다.';
            } else if (delay == 10) {
              document.getElementById('mydivheader').innerHTML =
                '3초 뒤 시작합니다.';
            } else if (delay == 15) {
              document.getElementById('mydivheader').innerHTML =
                '2초 뒤 시작합니다.';
            } else if (delay == 20) {
              document.getElementById('mydivheader').innerHTML =
                '1초 뒤 시작합니다.';
            } else if (delay == 25) {
              document.getElementById('mydivheader').innerHTML =
                '잠시만 기다려주세요.';
            } else if (delay > 25) {
              document.getElementById('mydivheader').innerHTML =
                '여기를 클릭해 이동하세요.';
              firstlip = false;
            }
            delay += 1;
          }
          if (!firstlip && videoElement.videoWidth != 0) {
            await partnerFaceMesh.send({ image: videoElement });
          }
        }, 200);
        canvas_.style.display = 'inline'; //1

        if (prevRadio == null) {
          prevRadio = canvas_;
        } else if (prevRadio != canvas_) {
          prevRadio.style.display = 'none';
          prevRadio = canvas_;
        }
      }
    </script>
    <script>
      function saveAsFile() {
        var time = new Date();
        var timestamp =
          time.getFullYear() +
          '-' +
          (time.getMonth() + 1) +
          '-' +
          time.getDate();
        var roomname = document.getElementById('invite-link-welcome').value;
        roomname = roomname.split('#')[1];

        var filename = '모아영 ' + timestamp + ' ' + roomname + '.txt';
        var hiddenElement = document.createElement('a');
        var str = $('.subtitles').text();
        hiddenElement.href = 'data:attachment/text,' + encodeURI(str);
        hiddenElement.target = '_blank';
        hiddenElement.download = filename;
        hiddenElement.click();
      }
    </script>
  </head>
  <body id="hotkey">
    <div class="container maincontainer">
      <div class="mainrow">
        <div class="" id="main" style="display: none">
          <div id="video-area">
            <div class="video-item" id="yourVideoArea">
              <div class="video-wrap">
                <div class="video-inner-wrap">
                  <video
                    class="input_video"
                    id="yourVideo"
                    autoplay
                    muted
                    playsinline
                  ></video>
                </div>
              </div>
            </div>
            <div
              id="welcome"
              class="welcome-messages"
              v-bind:class="{'open': open}"
            >
              <div class="welcome-inner">
                <span class="close fas fa-times" v-on:click="close"></span>
                <div class="invite row" v-bind:class="{'show': showInvite}">
                  <div class="col-xs-12 invite-header">
                    아래의 링크로 초대해보세요 😎
                  </div>
                  <div class="col-xs-12 invite-content">
                    <input
                      v-model="link"
                      readonly
                      type="text"
                      id="invite-link-welcome"
                    /><button
                      v-bind:class="{'fa-copy': !copied, 'fa-check': copied}"
                      v-on:click="copy"
                      class="fas"
                    ></button>
                  </div>
                </div>
                <div class="setname row" v-bind:class="{'show': showSetName}">
                  <div class="col-xs-12 setname-header">{{yournamelabel}}:</div>
                  <div class="col-xs-12 setname-content">
                    <input
                      v-model="name"
                      @blur="changeUserinfo"
                      autofocus
                      placeholder="..."
                      @keydown.enter.exact.prevent
                      @keyup.enter.exact="close"
                    />
                  </div>
                </div>
                <button
                  v-bind:class="{'show': showSetName}"
                  v-on:click="close"
                  type="submit"
                  data-lang="starting"
                  class="button starting"
                >
                  Starting
                </button>
                <div class="row"></div>
              </div>
            </div>
            <div id="lips-area" display="none">
              <div id="mydiv">
                <div id="mydivheader">여기를 클릭해 이동하세요.</div>
                <div id="lip-area" style="margin: 0px"></div>
              </div>
            </div>
          </div>
          <div class="row center-xs" id="footer">
            <div class="col-xs-12" id="controls">
              <span
                v-on:click="toogleMicrophone"
                v-bind:class="{'fa-microphone': microphoneOn, 'fa-microphone-slash': !microphoneOn}"
                class="microphone fas fa-microphone"
                title="ctrl+m"
              ></span>
              <span
                v-on:click="toogleCamera"
                v-bind:class="{'fa-video': cameraOn, 'fa-video-slash': !cameraOn}"
                class="camera fas fa-video"
                title="ctrl+c"
              ></span>
              <span
                v-on:click="toogleScreen"
                v-bind:class="{'screenon': screenOn, 'disabled': screenSharingNotAllowed}"
                class="screen fas fa-desktop"
                title="ctrl+s"
              ></span>
              <span
                v-on:click="toogleOption"
                v-bind:class="{'optionon': optionOn, 'newMessage': hasNewMessage}"
                class="option fas fa-bars"
                title="ctrl+o"
              ></span>
              <span
                v-on:click="toogleOption"
                v-bind:class="{'optiononclose': optionOn}"
                class="optionclose fas fa-times"
                title="ctrl+o"
              ></span>
              <span
                v-on:click="hangOut"
                v-bind:class="{'green': hangouted}"
                class="hangup fas fa-phone"
                title="ctrl+e"
              ></span>
            </div>
          </div>
        </div>
        <div id="sidebar">
          <div class="tabs">
            <div class="tabs-header row">
              <div tab="partner" class="col-xs-3" data-lang="참여자">
                Participant
              </div>
              <div tab="chat" class="col-xs-3" data-lang="채팅">Chat</div>
              <div
                tab="subtitle"
                class="col-xs-3"
                data-lang="자막"
                id="testTitle"
              >
                Subtitle
              </div>
              <div tab="settings" class="col-xs-3" data-lang="설정">
                Setting
              </div>
            </div>
            <div class="tabs-content">
              <div id="tab-partner">
                <div id="invite" class="row">
                  <div class="col-xs-12 invite-header">
                    아래의 링크로 초대해보세요 😎
                  </div>
                  <div class="col-xs-12 invite-content">
                    <input
                      v-model="link"
                      readonly
                      type="text"
                      id="invite-link"
                    /><button
                      v-bind:class="{'fa-copy': !copied, 'fa-check': copied}"
                      v-on:click="copy"
                      class="fas"
                    ></button>
                  </div>
                </div>
                <div id="partnerlist">
                  <ul></ul>
                </div>
              </div>
              <div id="tab-chat">
                <div id="textchat">
                  <div class="msger">
                    <div class="msger-chat"></div>
                    <div
                      class="msger-extrainfo"
                      v-bind:class="{'hidden': !extrainfoVisible}"
                    >
                      <span v-html="extrainfo"></span>
                      <span
                        class="close fas fa-times"
                        v-on:click="closeExtra"
                      ></span>
                    </div>
                    <form
                      class="msger-inputarea"
                      v-on:submit.prevent="sendMessage"
                    >
                      <textarea
                        v-model="message"
                        type="text"
                        class="msger-input"
                        placeholder="내용을 입력하세요."
                        style="font-family: 'S-CoreDream-5Medium'"
                        @paste="addfilebypast"
                        @keydown.enter.exact.prevent
                        @keyup.enter.exact="sendMessage"
                      ></textarea>
                      <label class="msger-imgupload fas fa-file-image">
                        <input type="file" accept="image/*" @change="addfile" />
                      </label>
                      <button
                        type="submit"
                        class="msger-send-btn fas fa-paper-plane"
                      ></button>
                    </form>
                  </div>
                </div>
              </div>
              <div id="tab-subtitle">
                <button
                  class="subtitle-button"
                  type="button"
                  onclick="saveAsFile();"
                >
                  자막 파일 다운로드
                </button>
                <p class="subtitles"></p>
              </div>
              <div id="tab-settings">
                <div id="userinfo">
                  <div class="row">
                    <label class="col-xs-6">이름</label>
                    <input
                      class="col-xs-6"
                      v-model="name"
                      @blur="changeUserinfo"
                      placeholder="..."
                    />
                  </div>
                </div>
                <div id="devices">
                  <div class="row">
                    <label class="col-xs-6">마이크</label>
                    <select
                      class="col-xs-6"
                      v-model="audio"
                      @change="onChange()"
                    >
                      <option
                        v-for="(option, index) in audiooptions"
                        :key="index"
                        v-bind:value="index"
                      >
                        {{ option }}
                      </option>
                    </select>
                  </div>
                  <div class="row">
                    <label class="col-xs-6">카메라</label>
                    <select
                      class="col-xs-6"
                      v-model="video"
                      @change="onChange()"
                    >
                      <option
                        v-for="(option, index) in videooptions"
                        :key="index"
                        v-bind:value="index"
                      >
                        {{ option }}
                      </option>
                    </select>
                  </div>
                  <div
                    class="row sound"
                    v-bind:class="{'allowed': soundAllowed}"
                  >
                    <label class="col-xs-6">스피커</label>
                    <select
                      class="col-xs-6"
                      v-model="sound"
                      @change="onChange()"
                    >
                      <option
                        v-for="(option, index) in soundoptions"
                        :key="index"
                        v-bind:value="index"
                      >
                        {{ option }}
                      </option>
                    </select>
                  </div>
                </div>
                <div id="configuration" v-if="soundEffectsEnabled">
                  <div class="row" v-if="soundEffectsEnabled">
                    <label class="col-xs-6">{{soundeffectsLabel}}:</label>
                    <input
                      type="checkbox"
                      v-model="soundEffectsOn"
                      @change="toogleSoundEffects"
                    />
                  </div>
                </div>
                <div id="settingSwitch">
                  <div class="switchbox">
                    <p>얼굴 벗어남 감지</p>
                    <label class="switch" title="ctrl+f">
                      <input
                        type="checkbox"
                        id="faceDetect"
                        v-on:click="isFaceDetect"
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="switchbox">
                    <p>자동 자막 생성</p>
                    <label class="switch" title="ctrl+b">
                      <input type="checkbox" id="subtitleExtract" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="switchbox">
                    <p>발화자 입 확대</p>
                    <label class="switch" title="ctrl+l">
                      <input
                        type="checkbox"
                        id="libMagnify"
                        onclick="check(this)"
                        v-on:click="isLipMagnify"
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="switchbox">
                    <p>참여자 음성 알림</p>
                    <label class="switch" title="ctrl+a">
                      <input type="checkbox" id="participantAlarm" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="clickbackground"></div>
      </div>
    </div>
    <div
      id="lightbox"
      v-on:dblclick="closeLightbox"
      v-bind:class="{'open': !closed}"
    >
      <img
        id="lightboxImageElement"
        :src="src"
        v-bind:class="{'active': mode == 'image'}"
      />
      <video
        id="lightboxVideoElement"
        controls
        autoplay
        :src="src"
        v-bind:class="{'active': mode == 'video'}"
      ></video>
      <span class="close fas fa-times" v-on:click="closeLightbox"></span>
    </div>
    <div id="create-room" v-bind:class="{'show': showDialog}">
      <div class="create-room-inner">
        <form v-on:submit.prevent="createRoom">
          <div class="title" style="text-align: center">모아영</div>
          <div class="message" style="text-align: center">
            통화방 이름을 입력하고,<br />
            통화방을 개설해보세요 ❕
          </div>
          <div class="room-input">
            <input
              autofocus
              type="text"
              v-model="roomName"
              @keydown.enter.exact.prevent
              @keyup.enter.exact="createRoom"
            />
            <button
              type="button"
              v-on:click="setRandomName"
              class="fas fa-random"
            ></button>
          </div>
          <div class="button-area">
            <button type="submit" data-lang="통화 시작" class="button">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
    <div id="waitroom-setname" v-bind:class="{'open': open}">
      <div class="waitroom-setname-inner">
        <div class="setname row" v-bind:class="{'show': showSetName}">
          <div class="col-xs-12 setname-header">이름을 입력하세요.</div>
          <div class="col-xs-12 setname-content">
            <input
              v-model="name"
              @blur="changeUserinfo"
              autofocus
              @keydown.enter.exact.prevent
              @keyup.enter.exact="close"
            />
          </div>
        </div>
        <button
          v-bind:class="{'show': showSetName}"
          v-on:click="close"
          type="submit"
          data-lang="확인"
          class="button starting"
        >
          Starting
        </button>
        <div class="row"></div>
      </div>
    </div>
    <div id="waitroom" v-if="showWaitroom">
      <div id="waitroomInner">
        <div id="waitroomVideoDiv">
          <video
            id="waitroomVideo"
            v-bind:class="{'show': cameraOn}"
            autoplay
            muted
            playsinline
          ></video>
        </div>

        <div id="waitroomControls" class="row center-xs">
          <span
            v-on:click="toogleMicrophone"
            v-bind:class="{'fa-microphone': microphoneOn, 'fa-microphone-slash': !microphoneOn}"
            class="spanBtn microphone fas fa-microphone"
            title="ctrl+m"
          >
          </span>
          <span
            v-on:click="toogleCamera"
            v-bind:class="{'fa-video': cameraOn, 'fa-video-slash': !cameraOn}"
            class="spanBtn camera fas fa-video"
            title="ctrl+c"
          >
          </span>
          <span
            class="spanBtn option fas fa-bars"
            v-on:click="toggleOptions"
            title="ctrl+o"
          ></span>
          <span
            v-on:click="enterRoom"
            v-bind:class="{'green': hangouted}"
            class="spanBtn hangup fas fa-phone"
            title="ctrl+e"
          >
          </span>
        </div>
      </div>
      <div id="waitroomOptions">
        <div class="closeBtn" v-on:click="toggleOptions" title="ctrl+o">
          <span class="optionclose fas fa-times"></span>
        </div>
        <div class="waitroom-option-name">
          <p>이름</p>
          <input v-model="userName" @blur="changeUserName" />
        </div>
        <div id="waitroomFeatureControl">
          <p>기능제어</p>
          <div class="switchbox">
            <p>얼굴 벗어남 감지</p>
            <label class="switch" title="ctrl+f">
              <input
                id="waitroomFaceDetectionChkbox"
                type="checkbox"
                v-on:click="toggleFaceDetection"
              />
              <span class="slider round"></span>
            </label>
          </div>
          <div class="switchbox">
            <p>참여자 음성 알림</p>
            <label class="switch" title="ctrl+a">
              <input
                id="waitroomParticipantAlarmChkbox"
                type="checkbox"
                v-on:click="toggleParticipantAlarm"
              />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
